script#app-template(type="code")
    .tabs.is-toggle.is-fullwidth
        ul
            li.is-active
                a.rules Rules
            li
                a.status Status
    .container
        .tab-content.rules Rules content
        .tab-content.status Status content
