script#app-template(type="code")
    #app-content
        //.tabs.is-toggle.is-fullwidth
            //ul
                //li.is-active
                    //a.rules Rules
                //li
                    //a.status Status
        .container
            .title-bar
                .total-rules.is-success.has-text-weight-bold 
                    span Rules:&nbsp;
                    span#num-of-rules
                .next.is-info.has-text-weight-bold 
                    span Next:&nbsp;
                    span#next-alarm
                .prev.has-text-weight-bold
                    span Prev:&nbsp;
                    span#prev-alarm
                .about.has-text-weight-bold About

            .tab-content.rules Rules content
            .tab-content.status Status content

        .add-rule(title="Add new rule")
            <svg class="icon"><use xlink:href="symbol-defs.svg#icon-plus"></use></svg>
