script#help-template(type="code")
    #help-content
        .help-title.has-text-centered.is-size-2
            span Why?
            span.back.is-pulled-left
                svg.icon
                    use(xlink:href="symbol-defs.svg#icon-arrow-left")

        .card.has-text-justified
            span.is-italic Sitting is the new smoking!
            span 
                | Research indicates that sitting for long hours
                | is detrimental to our health,
                span.is-italic even if we exercise regularly.
                | Unfortunately, if you are part of the knowledge
                | economy, sitting is going to be a significant 
                | part of your life. What can you do? Take regular
                | breaks! However, this is easier said than done. Sometimes
                | we are so engrossed in our work that we lose all sense of 
                | time. Maybe you are trying to debug your code, maybe 
                | you are tweaking your graphic design, maybe you are
                | trying to finish your latest blog... and who knows what else?
                | Before you realize it, you would have spent several hours glued
                | to your seat. Not good. <br><br>
                | "Take a break" solves this problem by playing a beep at 
                | intervals of your choice. The protocol is simple: whenever
                | you hear the beep, stop whatever you are doing. Get up 
                | from your seat. Go for a short walk. Do some stretching.
                | Make sure your body gets some movement. You can resume your
                | work after 2-3 minutes. <br><br>
                | Are you thinking, "But I might lose my focus... I was so close
                | to solving my problem when this beep started..." Don't worry!
                | Taking short breaks will actually enhance your productivity.
                | Sometimes taking your mind off the problem, even for a few minutes,
                | can actually spark new ideas!
                | If you absolutely must not be disturbed during certain hours 
                | (like a regular meeting, perhaps?), then you can adjust the rules accordingly.

