doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet" type="text/css" href="./bulma.min.css")
      link(rel="stylesheet" type="text/css" href="./styles.css")

    body
        include symbols.pug
        #container.container.is-fluid
        script(type='module' src='./router.js')
        include app.pug
        include rules.pug
        include help.pug
        #dialog-container
            span.tag.is-medium#dialog
