option(value="10") 10 minutes
option(value="15") 15 minutes
option(value="20") 20 minutes
option(value="25") 25 minutes
option(value="30" selected) 30 minutes
option(value="35") 35 minutes
option(value="40") 40 minutes
option(value="45") 45 minutes
option(value="50") 50 minutes
option(value="55") 55 minutes
option(value="60") 60 minutes
