script#rules-template(type="code")
    #rules-content
        .notification.is-primary.is-light.has-text-centered.no-rules-message
            | No rules yet! Click "+" below to get started!


script#rule-template(type="code")
    div.rule.card
        div.rule-content
            .interval-container
                .label Every
                .field
                    .control
                        .select.is-small.is-fullwidth
                            select.interval.control.is-fullwidth
                                include intervals.pug

            .days-container
                .label On
                .days
                    label.checkbox
                        span.is-family-monospace Mon
                        input(name="days" type="checkbox" value="Mon")

                    label.checkbox
                        span.is-family-monospace Tue
                        input(name="days" type="checkbox" value="Tue")
                
                    label.checkbox
                        span.is-family-monospace Wed
                        input(name="days" type="checkbox" value="Wed")
            
                    label.checkbox
                        span.is-family-monospace Thu
                        input(name="days" type="checkbox" value="Thu")

                    label.checkbox
                        span.is-family-monospace Fri
                        input(name="days" type="checkbox" value="Fri")

                    label.checkbox
                        span.is-family-monospace Sat
                        input(name="days" type="checkbox" value="Sat")

                    label.checkbox
                        span.is-family-monospace Sun
                        input(name="days" type="checkbox" value="Sun")

            .from-container
                .label From
                .field
                    .control
                        .select.is-small.is-fullwidth
                            select.from
                                include from_hours.pug
            .to-container
                .label To
                .field
                    .control
                        .select.is-small.is-fullwidth
                            select.to.control
                                include to_hours.pug

        div.rule-controls
            .save-rule
                <svg class="icon"><use xlink:href="symbol-defs.svg#icon-floppy-disk"></use></svg>

            .del-rule
                <svg class="icon"><use xlink:href="symbol-defs.svg#icon-bin2"></use></svg>


