script#rule-editor-template(type="code")
    #rule-editor
        .title Add/Edit rule
        .control-container
            div Every
            div.is-fullwidth
                select#intervals.control
                   include intervals.pug

        .control-container
            div On
            div.days-container
                label(for="weekdays") Weekdays
                input#weekdays(type="radio" name="days")
                label(for="weekdays") Weekends
                input#weekends(type="radio" name="days")

        .control-container
            div From
            div
                select#from.control
                    include hours.pug

        .control-container
            div To
            div
                select#to.control
                    include hours.pug

        .control-container
            div.dummy
            div
                button.button.is-primary.is-small#save-rule Done
