script#rules-template(type="code")
    #rules
        #tabs-header
            #tab-rules.active 
                span Rules &nbsp; &nbsp;
                span#add-rule 
                    <svg class="icon icon-plus"><use xlink:href="symbol-defs.svg#icon-plus"></use></svg>
            #tab-status 
                span Status

        #tabs-content
            #rules-content
            #status-content Status
            

script#rule-template(type="code")
    div.rule.card
        .interval-container
            .label Every
            .field
                select.interval.control.is-fullwidth
                    include intervals.pug
        .days-container
            .label On
            .field
                label Weekdays
                input(type="radio" name="days" value="weekdays" checked)
                label Weekends
                input(type="radio" name="days" value="weekends")
        .from-container
            .label From
            .field
                select.from.control
                    include from_hours.pug
        .to-container
            .label To
            .field
                select.to.control
                    include to_hours.pug
        .save-rule
            <svg class="icon"><use xlink:href="symbol-defs.svg#icon-floppy-disk"></use></svg>

        .del-rule
            <svg class="icon"><use xlink:href="symbol-defs.svg#icon-bin2"></use></svg>


