script#status-template(type="code")
    #status-content
        .breaks
            div
                span Next break at:&nbsp;&nbsp;
                span.next-break
            div
                span Prev break at:&nbsp;&nbsp;
                span.prev-break
