body, html {
	width:100%;
	height:100%;
	overflow:hidden;
	box-sizing: border-box;
	padding:0;
	margin:0;
}

#container {
	width:100%;
	height:100%;
	box-sizing: border-box;
	font-family:sans-serif;
	position:relative;
}

#app-content {
	width:100%;
	height:100%;
}

#app-content .container {
	width:100%;
	height:100%;
}

.tab-content {
	width:100%;
	height:100%;
}

#rules-content {
	width:100%;
	height:200px;
	padding:10px;
	overflow-y:scroll;
}

.from,
.to,
.interval {
}

.rule {
	position: relative;
	display: grid;
	grid-template-columns: 10fr 1fr;
	margin-bottom:20px;
}

.rule-content {
	padding:10px;
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	row-gap:5px;
}

.interval-container,
.days-container,
.from-container,
.to-container {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

.icon {
	width:16px;
	height:16px;
}

#tab-rules {
	display:flex;
	align-items:center;
	justify-content:center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: white;
  fill: white;
  pointer-events:none;
}

.del-rule {
	position: absolute;
	top: 10px;
	right:10px;
	cursor:pointer;
	
}

.del-rule .icon {
	stroke: hsl(348, 100%, 61%);
	fill: hsl(348, 100%, 61%);
}

.save-rule {
	position: absolute;
	bottom: 10px;
	right:10px;
	cursor:pointer;
}

.save-rule .icon {
  stroke:hsl(48, 100%, 67%);
  fill:hsl(48, 100%, 67%);
}

#tabs-content {
	height:100%;
	overflow-y:scroll;
}

#status-content {
	display:none;
}

#dialog-container {
	width:100%;
	position:absolute;
	bottom:10px;
	display:none;
	align-items:center;
	justify-content:center;
	padding:5px;
}

#dialog {
	color:white;
}
.tab-content {
	display: none
}

.tab-content.rules {
	display: block;
}

.days {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap:2px;
}

#status-content {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	width:100%;
}

#app-content {
	position:relative;
}

.add-rule {
	position:absolute;
	bottom:50px;
	right:-10px;
	cursor:pointer;
}

.add-rule .icon {
	width:24px;
	height:24px;
	stroke: hsl(204, 86%, 53%);
	fill:hsl(204, 86%, 53%);
}

.breaks {
	display:grid;
	grid-template-rows: 1fr 1fr;
}

#rules-content {
	padding-top:20px;
	padding-bottom:50px;
}

#splash-content {
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.rule-title {
	display:none;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom:5px;
}

.dummy-left {
	border-top: 1px solid hsl(0, 0%, 86%);
	border-left: 1px solid hsl(0, 0%, 86%);
	height:15px;
}

.dummy-right {
	border-top: 1px solid hsl(0, 0%, 86%);
	border-right: 1px solid hsl(0, 0%, 86%);
	height:15px;
}

.title-text-container {
	position:relative;
}

.title-text {
	position:absolute;
	top:-10px;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.help {
	display:inline-block;
	cursor:pointer;
}

.help .icon {
	stroke: hsl(204, 86%, 53%);
	fill:hsl(204, 86%, 53%);
	width:20px;
	height:20px;
	pointer-events:auto;
}

.back .icon {
	stroke: hsl(204, 86%, 53%);
	fill:hsl(204, 86%, 53%);
	width:20px;
	height:20px;
	pointer-events:auto;
	cursor:pointer;
}

#help-content {
	height:100%;
	padding:5px;
}

#help-content .card {
	padding:1em;
	height: 75%;
	overflow-y:scroll;
}

.title-bar {
	width:100%;
	display:grid;
	grid-template-columns:1fr 1.5fr 1.5fr 1fr;
	margin-bottom:20px;
	height:2em;
}

.total-rules {
	display:flex;
	align-items:center;
	justify-content:center;
	color: #fff;
	padding:5px;
	background-color: hsl(141, 53%, 53%);
}

.next {
	display:flex;
	align-items:center;
	justify-content:center;
	color: #fff;
	padding:5px;
	background-color: hsl(204, 86%, 53%);
}

.prev {
	display:flex;
	justify-content:center;
	align-items:center;
	padding:5px;
	color: #fff;
	background-color: hsl(217, 71%, 53%);
}

.about {
	display:flex;
	align-items:center;
	justify-content:center;
	padding:5px;
	color: #fff;
	background-color:hsl(171, 100%, 41%);
	cursor:pointer;
}

.version {
	margin-top:10px;
	margin-bottom:10px;
}
