body, html {
	width:100%;
	height:100%;
	overflow:hidden;
	background:black;
	box-sizing: border-box;
	padding:0;
	margin:0;
}

#container {
	width:100%;
	height:100%;
	box-sizing: border-box;
}

#index-container {
	display: grid;
	width:100%;
	height:100%;
	grid-template-rows: 2fr 4fr;
	box-sizing: border-box;
}

/*index page*/
#icon-div {
	background-color: #efefef;
	position:relative;
}

#bottom-div {
	background-color: #dfdfdf;
	display:flex;
	align-items:center;
	justify-content:center;
}

h1 {
	color: white;
}
